.h-100{
    min-height: 100vh;
}
.container-navbar{
    // background-color: rgb(182, 178, 178);
    background-color: #1d8375;
    box-shadow: 5px 5px 4px #666666;
}
.nav-item{
    // width: 120px;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 7px;
   background-color: #081110;
   color: #ffffff;
    // box-shadow: 0 4px 5px -3px #ffffff;
}
